<div class="nav-side-menu">
	<div class="brand">	
		<a href="#"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Home</a>
	</div>
	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
		data-target="#menu-content"></i>
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<li>
				<a href="#"><i class="fa fa-user-o fa-lg"></i> Profile</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> Messages</a>
				</li>
			<li>
				<a href="#"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i> Documents</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Log out</a>
			</li>
		</ul>
	</div>
</div>