 <div class="nav-side-menu">
	<div class="brand">	
	<img src="./assets/images/MIGHTYFOX1.png" class="rounded mx-auto d-block">	
	</div>
	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
		data-target="#menu-content"></i>
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<li>
			<a routerLink="/accueil"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Home</a>
			<li>
			<li>
				<a routerLink="/profile"><i class="fa fa-user-o fa-lg"></i> Profile</a>
			</li>
			<li>
				<a routerLink="/message"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> Messages</a>
				</li>
			<li>
				<a routerLink="/document"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i> Documents</a>
			</li>
			<li>
				<a routerLink="/"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Log out</a>
			</li>
		</ul>
	</div>
</div> 