<div class="authentication">
	<div class="container">
		<img src="./assets/images/MIGHTYFOX1.png" class="rounded mx-auto d-block">	
		
		<form (submit)="loginUser($event)" class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-user" aria-hiden="true"></i></div>
				<input type="text" class="form-control" placeholder="name@example.com">
		  	</div>
		  	<div class="input-group">
		  		<div class="input-group-addon"><i class="fa fa-lock" aria-hiden="true"></i></div>
		    	<input type="password" class="form-control" placeholder="Password">
		  	</div>
		  	<div *ngIf="show" class="alert alert-danger" role="alert">
  				<strong>Wrong password ! try again</strong>
			</div>
		  		<input (click)="show = !show" type="submit" value="login" class="btn btn-primary"> 
		</form>
	</div>
</div>